.gear-spin {
  animation: gear-spin 6s linear infinite;
  transform-origin: 50% 50%; /* center */
}

@keyframes gear-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 